<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formação - Leonardo Benetti</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
<!-- Menu de Navegação -->
    <nav class="nav">
        <div class="textonav">
            <h1>Leonardo Benetti</h1>
        </div>

        <div class="links">
            <a href="../../index.html">Início</a>
            <a class="atual" href="../Views/formacao.html">Formação</a>
            <a href="../Views/portfolio.html">Portfólio</a>
            <a href="../Views/contato.html">Contato</a>
        </div>
    </nav>

<!-- Conteúdo principal -->
    <main>
        <section class="section1">
            <div class="main_a">

                <div class="div01">
                    <h1 class="titulo">
                        <span class="corSpan">Minha</span> Formação
                    </h1>

                    <div class="formacao-item">
                        <h2>Segurança da Informação - Cursando</h2>
                        <p>
                            Atualmente estou cursando Tecnologia em Segurança da Informação, área na qual
                            busco desenvolver minha carreira profissional.
                        </p>
                    </div>
                    
                    <div class="formacao-item">
                        <h2>Curso Técnico em Informática - Cursando</h2>
                        <p>
                            Também estou cursando Informática em nível técnico, buscando aprofundar meus conhecimentos na área, desde desenvolvimento web e desktop, banco de dados, até práticas em redes, manutenção de computadores, entre outros.
                        </p>
                    </div>

                    <div class="formacao-item">
                        <h2>Curso Técnico em Administração</h2>
                        <p>
                            Formação técnica em Administração, com conhecimentos relacionados à
                            organização, planejamento, gestão e processos administrativos.
                        </p>
                    </div>

                    <div class="formacao-item">
                        <h2>Ensino Médio</h2>
                        <p>
                            Ensino médio concluído, servindo como base para minha formação acadêmica
                            e profissional.
                        </p>
                    </div>


                </div>

            </div>
        </section>
    </main>

<!-- Rodapé -->
    <footer>
        <p>Todos os Direitos Reservados - Leonardo Benetti Canossa</p>
    </footer>

</body>

</html>